.sidebar {
    width: 250px;
    padding-right: 8px;
    padding-top: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .compose-btn {
      background-color: #C2E7FF;
      border-radius: 16px;
      height: 55px;
      width: 150px;
      // box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000;
      display: flex;
      align-items: center;
      padding: 0 16px;

      &:hover {
        box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
        transition: all 0.3s;
      }
    }

    .actions {
      a {
        text-decoration: none;
        transition: background-color 0.3s ease;
        height: 32px;
        padding: 0 12px 0 16px;
        border-radius: 16px;
        // border-top-right-radius: 16px;
        // border-bottom-right-radius: 16px;
        display: flex;
        align-items: center;
        color: #38393D;
        font-size: 0.875rem;
        cursor: pointer;
        
        &:not(.selected):hover {
          background-color: #EAEBEF; 
        }
      }
      
      .selected {
        background-color: #D3E3FD;
        color: #001d35;
      font-weight: bold;
    }
  }
}