// Colors
$clr1: #f6f8fc;
$clr2: #54558d;
$clr3: #41426e;
$clr4: #b6b7e8;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$email-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

// $font-family: "Roboto", sans-serif;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
